data/
end_to_end_3_9_12/
experiments/
models/
venv_end_to_end_3_9_12/
*.docx

.python-version
.env
.vscode/
*.egg-info/
*.tmp
~*
__pycache__/

dummy_X_test.json
dummy_X_test.pkl
generate_dummy_data.py
install-pyenv-win.ps1
setup.py
template.py
delete_this.txt
write_file_contents.py



